[program:flask-web]
directory=/webapps/adsnative
command=/webapps/adsnative/bin/python /webapps/adsnative/app.py runserver
user=deployer
group=deployer
#process_name=%(program_name)s_%(process_num)02d
#numprocs=2
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/adsnative/app.log
