[program:flask-web]
command=/webapps/adsnative/bin/python /webapps/adsnative/app.py runserver
user=deployer
group=deployer
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/adsnative/app.log
